HOMEPAGE_VAR_TRAEFIK_USER={{ homepage_traefik_user }}
HOMEPAGE_VAR_TRAEFIK_PASSWORD={{ homepage_traefik_password }}
HOMEPAGE_VAR_PORTAINER_KEY={{ homepage_portainer_key }}
HOMEPAGE_VAR_COINMARKETCAP_KEY={{ homepage_coinmarketcap_key }}
HOMEPAGE_VAR_FINNHUB_KEY={{ homepage_finnhub_key }}
