groups:
  - name: system_alerts
    rules:

    - alert: HighCPULoad
      expr: 100 - (avg by(instance)(rate(node_cpu_seconds_total{mode="idle"}[2m])) * 100) > 85
      for: 2m
      labels:
        severity: warning
      annotations:
        description: "CPU > 85% since 2 minutes"

    - alert: LowDiskSpace
      expr: node_filesystem_avail_bytes{mountpoint="/"} / node_filesystem_size_bytes{mountpoint="/"} < 0.10
      labels:
        severity: critical
      annotations:
        description: "Disk space on / < 10%"

    - alert: HighMemoryUsage
      expr: (1 - (node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes)) > 0.90
      labels:
        severity: warning
      annotations:
        description: "Memory usage > 90%"
