/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Local font */
@font-face {
    font-family: Neopixel;
    src: url('../fonts/Neopixel.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

body {
    font-family: Inconsolata, monospace;
    background-color: #1D1D1D;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    float: right;
    padding: 20px;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

a{
    position: relative;
    color: #fff;
    text-decoration: none;
    z-index: 999;
}

a:visited{
    position: relative;
    color: #fff;
    text-decoration: none;
    z-index: 999;
}

.icon {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    animation: animate 5s linear infinite;
}

#shader {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

#shader-container{
    filter: opacity(0.1);
}

@keyframes animate {
    from,to{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
}

.icon pre {
    overflow: visible;
    margin: 0;
}

.separator{
    margin-bottom: 0;
    padding-bottom: 0;
}

.headline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
}

.glitch {
    position: relative;
    color: #fff;
    animation: glitch-skew 1s infinite linear;
}

.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    animation: glitch-anim 1s infinite linear;
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 red;
    animation-delay: .2s;
}

.glitch::after {
    left: -2px;
    text-shadow: 1px 0 blue;
    animation-delay: .3s;
}

@keyframes glitch-anim {
    0% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    5% {
        clip: rect(89px, 9999px, 90px, 0);
    }
    10% {
        clip: rect(33px, 9999px, 30px, 0);
    }
    15% {
        clip: rect(45px, 9999px, 40px, 0);
    }
    20% {
        clip: rect(58px, 9999px, 60px, 0);
    }
    25% {
        clip: rect(20px, 9999px, 28px, 0);
    }
    30% {
        clip: rect(50px, 9999px, 53px, 0);
    }
    35% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    40% {
        clip: rect(89px, 9999px, 90px, 0);
    }
    45% {
        clip: rect(33px, 9999px, 30px, 0);
    }
    50% {
        clip: rect(45px, 9999px, 40px, 0);
    }
    55% {
        clip: rect(58px, 9999px, 60px, 0);
    }
    60% {
        clip: rect(20px, 9999px, 28px, 0);
    }
    65% {
        clip: rect(50px, 9999px, 53px, 0);
    }
    70% {
        clip: rect(42px, 9999px, 44px, 0);
    }
    75% {
        clip: rect(89px, 9999px, 90px, 0);
    }
    80% {
        clip: rect(33px, 9999px, 30px, 0);
    }
    85% {
        clip: rect(45px, 9999px, 40px, 0);
    }
    90% {
        clip: rect(58px, 9999px, 60px, 0);
    }
    95% {
        clip: rect(20px, 9999px, 28px, 0);
    }
    100% {
        clip: rect(50px, 9999px, 53px, 0);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(0deg);
    }
    10% {
        transform: skew(5deg);
    }
    20% {
        transform: skew(-5deg);
    }
    30% {
        transform: skew(5deg);
    }
    40% {
        transform: skew(-5deg);
    }
    50% {
        transform: skew(5deg);
    }
    60% {
        transform: skew(-5deg);
    }
    70% {
        transform: skew(5deg);
    }
    80% {
        transform: skew(-5deg);
    }
    90% {
        transform: skew(5deg);
    }
    100% {
        transform: skew(-5deg);
    }
}